<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 20201207 -->
<mapper namespace="com.coanimal.ams.dao.MemberDao">

  <resultMap type="Member" id="MemberMap">
    <id column="member_no"  property="memberNo"/>
    <result column="email"  property="email"/>
    <result column="id_photo"  property="idPhoto"/>
    <result column="password"  property="password"/>
    <result column="nickname"  property="nickname"/>
    <result column="create_date"  property="createDate"/>
    <result column="userkey"  property="userkey"/>
    <result column="loginmethod"  property="loginmethod"/>
  </resultMap>
  
  <!-- 회원가입 -->
  <insert id="register" parameterType="Member">
    insert into member(
      email, 
      password, 
      nickname, 
      id_photo,
      loginmethod
    ) values(
      #{email},
      password(#{password}),
      #{nickname},
      #{id_photo},
      #{loginmethod}
    )
  </insert>
  
  <!-- 로그인 -->
  <select id="login" resultType="member">
    select
      email,
      password
    from member
    where email = #{email}
    and password = #{password}
  </select>


</mapper>







