<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 20201215 -->
<mapper namespace="com.coanimal.ams.dao.MemberDao">

  <resultMap type="Member" id="MemberMap">
    <id column="member_no"  property="memberNo"/>
    <result column="email"  property="email"/>
    <result column="id_photo"  property="idPhoto"/>
    <result column="password"  property="password"/>
    <result column="nickname"  property="nickname"/>
    <result column="create_date"  property="createDate"/>
    <result column="authkey"  property="authkey"/>
    <result column="authstatus"  property="authstatus"/>
  </resultMap>
  
  <!-- 회원가입 -->
  <insert id="register" parameterType="Member">
    insert into member(
      email, 
      password, 
      nickname, 
      id_photo
    ) values(
      #{email},
      password(#{password}),
      #{nickname},
      #{idPhoto}
    )
  </insert>
  
  <!-- 회원정보 수정 -->
  <update id="memberUpdate">
    UPDATE member SET 
      nickname = #{nickname},
      password = password(#{password}),
      id_photo = #{idPhoto}
    WHERE email = #{email}
  </update>


  <!-- 로그인 (아이디 패스워드 일치 확인) -->
   <select id="findByEmailAndPassword" resultMap="MemberMap" parameterType="map">
    select 
      email, 
      password, 
      nickname, 
      id_photo
    from member
    where 
      email=#{email} 
      and password=password(#{password})
  </select>
  
</mapper>







